@charset "utf-8";

/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
}
ul, li {
    list-style: none;
}

body {
    background-color: #999;
    font-family: 'Nanum Gothic', sans-serif;
}

.page {
    max-width: 1312rem;
    position: relative;
}

header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 1px 5px #0000003b;
}
.cafe-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 300px;
    position: relative;
    justify-content: space-between;
}

.logo {
    width: 155px;
    height: 100%;
    display: flex;
    margin-right: 20px;
    align-items: center;
}
.logo a {
    height: 28px;
}

.smakes {
    position: relative;
    margin-right: 135px;
}
.smake {
    width: 160px;
    height: 42px;
    border-radius: 25px;
    background-color: #146af0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.smake a {
    color: #fdfdfd;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -1px;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.smake:hover {
    background-color: #0050cd;
}
.smake:hover a span {
    
}
.smake:hover ::after {
    content: '';
    font-size: 19px;
    position: absolute;
    right: 23px;
    transform: translateY(-1px);
}

/* gnb */
.nav-gnb {
    position: relative;
    width: 430px;
    height: 100%;
    left: -3px;
}
.gnb {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.nav-gnb .gnb ul {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.nav-gnb .gnb ul .menu {
    font-size: 19px;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.nav-gnb .gnb ul .menu::before {
    content: '<';
    position: absolute;
    bottom: 20px;
    transform: rotate(270deg) translateY(0px); /* 돌리는 방향 기준으로 x, y 축 정하나봄 */
    font-size: 14px;
    opacity: 0;
    transition: .2s linear;
}
/* .nav-gnb .gnb ul .menu:last-child::before {
    transform: rotate(270deg) translateY(0px);
} */
.nav-gnb .gnb ul .menu:hover::before {
    opacity: 1;
    bottom: 10px;
}
.nav-gnb .gnb ul .menu:hover .smenu {
    display: block;
}

.smenu {
    position: absolute;
    width: 900px;
    height: 430px;
    top: 80px;
    left: -330px;
    background-color: #fff;
    box-shadow: 0px -1px 10px rgb(0 0 0 / 5%);
    cursor: auto;
    /* height 0 주고 hover 줬을때 height값  <- ? */
    display: none;
}
.smenu ol.sol {
    position: relative;
    display: flex;
    height: 60px;
}
.smenu ol.sol::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: #00000010;
}
.smenu ol.sol li.sgnb {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 1;
    justify-content: flex-end;
}
.smenu ol.sol li.sgnb span {
    color: gray;
    font-size: 16px;
    font-weight: bold;
    width: 78%;
    height: 80%;
    display: flex;
    transition: text-shadow .2s linear;
    align-items: center;
    justify-content: flex-start;
}
.smenu ol.sol li.sgnb span:hover {
    text-shadow: 1px 1px 2px #6860db;
    animation: hueAni 5s linear infinite;
}

.smgnb {
    display: flex;
    justify-content: center;
    position: absolute;
    /* width: 100%; */
    width: 78%;
    height: 370px;
    top: 60px;
    /* pointer-events: none; */
}
.smgnb ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    /* width: 55%; */
    width: 100%;
    padding: 10px 0;
}
.smgnb ol li {
    font-size: 15.5px;
    /* margin: 10px 0; */
    width: 100%;
    height: 42px;
}
.smgnb ol li a {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
}
.smgnb ol li a::after {
    content: '<';
    position: absolute;
    right: 0px;
    opacity: 0;
    transition: all .2s ease-out;
}
.smgnb ol li a:hover::after {
    opacity: 1;
    transform: translateX(-60px);
}
#smgnb-li-af::after {
    right: -25px;
}

/* _______________________________ */
/* smenu 2, 3, 4 */
.menu:nth-child(2) .smenu {
    width: 250px;
    height: 312px;
    left: 53px;
}
.menu:nth-child(2) .smenu .smgnb {
    height: 252px;
}

.menu:nth-child(3) .smenu {
    width: 250px;
    height: 390px;
    left: 162px;
}
.menu:last-child .smenu {
    width: 473px;
    left: 137px;
    height: 367px;
}

/* _______________________________ */





.rnav {
    position: relative;
    width: 363px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.rnav-menu {
    flex: 3;
}
.rnav .rnav-menu ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    margin-left: 64px;
}
.rnav .rnav-menu ul li:last-child {
    color: #377cfc;
}
.rnav .rnav-menu ul li::after {
    content: '';
    width: 1px;
    height: 10px;
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    transform: translate(.6rem, -50%);
    background-color: rgba(0, 0, 0, .2);
}
.rnav .rnav-menu ul li:last-child::after {
    content: '';
    width: 0px;
}

.r-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    font-size: 20px;
}
.r-menu .ra-gnb span {
    font-size: 24px;
}


/* animation: hueAni 5s linear infinite; */
@keyframes hueAni {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}


/* 배너 */
.banner {
    width: 100%;
    height: 510px;
    top: 80px;
    position: relative;
    overflow: hidden;
}
.br-box {
    display: flex;
}
.br-box-side {
    width: 100%;
    height: 100%;
    position: relative;
}
.br-ibox {
    width: 100vw;
    height: 100%;
}
.br-ibox img {
    background-size: cover;
    width: 100%;
    height: 100%;
}
.ibox {
    width: 100%;
    height: 510px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 80px 40px;
}

.wrap {
    width: 1312px;
    height: 207px;
    position: relative;
    margin: 0 264px;
}
.wrap-text {
    width: 600px;
    height: 200px;
    color: #fff;
}
.wrap-text h2 {
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 15px;
}
.wrap-text span {
    font-size: 18px;
}

.wrap-smake {
    width: 205px;
    height: 65px;
    border-radius: 33px;
}

.wrap-img {
    width: 652px;
    height: 510px;
    position: absolute;
    top: -80px;
    right: 0;
}
.wrap-img img {
    width: 100%;
}